$color-light: #F8FFFF; //background
$color-fonts-primary: #17181B; //kolor głóny fontów, borders
$color-fonts-secondary: #c6cccc;
$color-primary: #eef5f5; //background secondary
$color-secondary: #FAD648; //background tertiary, borders, hover
$color-tertiary: #51545B;
$color-nav: rgba(23, 38, 67, 0.6); //kolor dekoracji
$color-white: #fff;