.btn {
    width: 27rem;
    height: 6rem;
    text-transform: uppercase;
    font-family: $font-base;
    font-size: 1.6rem;
    line-height: 6rem;
    font-weight: 700;
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    padding: 0;

    &--left {
        margin-right: 2rem;
    }

    &--active {
        color: $color-light;
    }

    &:hover {
        background: $color-nav;
        color: $color-light;
        transition: 0.3s linear;
    }
}

.btnMedium {
    width: 20.8rem;
    height: 8.1rem;
    font-family: $font-base;
    font-size: 2.4rem;
    background-color: $color-light;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;

    .active {
        border: 1px solid $color-light;
    }

    &:hover {
        background: $color-secondary;
        transition: 0.3s linear;
        color: $color-light;
    }
}

.btnMedium:not(:last-child) {
    margin-right: 6.9rem;
}

.btnLinks {
    color: $color-fonts-primary;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        color: $color-light;
        transition: 0.3s linear;
    }
}