.sectionContact{
    background-color: $color-fonts-primary;
    max-width: 144rem;
    margin: 0 auto;
    color: $color-fonts-secondary;

    &__container {
        width: 100%;
        max-width: 117rem;
        margin: 0 auto;
        padding: 7.2rem 0;
        font-size: 2.4rem;
        line-height: 3.1rem;
        font-weight: 500;
    }

    &__h2 {
        font-size: 3.2rem;
        line-height: 3.8rem;
        padding-bottom: .8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__hr {
        border: 0;
        height: 6px;
        background: $color-secondary;
        width: 40px;
        display: inline-block;
        margin-bottom: 3rem;
    }

    &__text {
        width: 75rem;
        margin-bottom: 6rem;
    }

    &__contactWrapper {
        width: 75rem;
        display: flex;
        justify-content: space-between;
        line-height: 4rem;
    }

    &__h3 {
        font-weight: 700;
        padding-bottom: 2rem;
    }

    &__link {
        display: block;
        color: $color-fonts-secondary;

        &:hover {
            color: $color-secondary;
            transition: color .5s ease-out;
        }
    }
}