.sectionHeader {
    max-width: 144rem;
    margin: 0 auto;
    margin-top: -90px;
    position: relative;
    z-index: 1;
}

.header {
    background-position: top center;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        align-items: center;
    }

    &__textWrapper {
        margin: 20.8rem 0 14.5rem 13.5rem;
    }

    &__textH1 {
        font-size: 4rem;
        color: $color-light;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 4.74rem;
    }

    &__decorationImage {
        height: 3.3rem;
        margin-top: 2.5rem;
    }

    &__buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 7.6rem;
    }
}