.nav {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-nav;
    padding: 0 13.5rem 0 14rem;

    &__navbarContainer {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        width: 100%;
        color: $color-light;
    }

    &__logo {
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__logoSpan {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    &__buttons {
        display: flex;
        font-size: 1.4rem;
    }

    // &__btn {
    //     padding: 2.6rem 0;
    // }

    // &__btnLinks {
    //     color: $color-fonts-signin;
    //     padding: 0.9rem 1rem;
    //     text-decoration: none;
    //     cursor: pointer;

    //     &--active {
    //         border: 1px solid $color-secondary;
    //     }

    //     &:hover {
    //         color: $color-nav;
    //         background: $color-secondary;
    //         transition: 0.3s linear;
    //     }
    // }

    &__menu {
        height: 4.2rem;
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
        font-size: 1.8rem;
    }

    &__item {
        // padding-right: 3.5rem;
    }

    &__links {
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        padding: 1.3rem 2rem;

        &:hover {
            background: $color-fonts;
            transition: 0.3s linear;
        }
    }
}

// .active {
//     border: 1px solid $color-fonts;
// }